.logo__img{
    max-width: 8rem;
}
/* adicionar margin nos elemntos de contato ! */
.contato{
    color: white;
}

.contato{
    text-align: center;
    text-transform: uppercase;
}

.contato > a{
    text-decoration: none;
    color: white;
}

.logo{
    text-transform: uppercase;
    font-size: 2rem;
}
header{background-color: var(--corPrincipal);
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.308);}