
main > .container {
    text-align: center;
}

.titulo{
    font-size: 2rem;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    color: white;

}

.localizacao{
    margin-top: 3rem;
}

.localizacao > iframe{
    margin-top: 1rem;
    width: 80%;
    height: 15rem;
}